<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fliljeda.fredrik4life">


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_fredrik_4_life"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DiceActivity" />
        <activity
            android:name=".NumberConverterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RandomNumberActivity"></activity>


        <receiver android:name="RandomNumberWidgetProvider">
            <intent-filter>
                <action android:name="android.intent.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/randomnumber_appwidget_info"></meta-data>
        </receiver>

    </application>

</manifest>